<html>
	<head>
		<title>TDD Maps Application</title>
	</head>
	<body>
		<div >
			<div style="padding-top: 4%; margin-left: auto; margin-right: auto; width: 1000px;">
				<h1 style="text-align: center"> Maps Application Designed using Test-Driven Development</h4>
			</div>
			<div style="padding-top: 10%; auto; margin-left: auto; margin-right: auto; width: 90%">
				<a href="{{url_for('showCity')}}" style="align: center; border: 2px solid black; padding: .5em; color: black; font-size: 24px;">Show City using Location</a>
				<a href="{{url_for('showNearestCityDistance')}}" style="align: center; border: 2px solid black; padding: .5em; color: black; font-size: 24px;">Find Nearest City using Location or GPS</a>
				<a href="{{url_for('showEarthCenterDistance')}}" style="align: center; border: 2px solid black; padding: .5em; color: black; font-size: 24px;">Find Distance to the center of the Earth using Location or GPS</a>
			</div>
		<div>
	</body>
</html>